nav ul li {
	padding: 12px;
}

nav .navbar-nav .nav-link {
	color: #00003D;
}

nav li img {
	margin-left: 20px;
}

.section1 {
	min-height: 30vh;
	padding: 50px 8%;
	background-color: #FFF;
	color: #00003D;
}

.section1 a {
	color: #00003D;
	font-weight: bold;
}

.section1 h2, .section1 p {
	text-align: center;
}

.section2 {
	min-height: 80vh;
	padding: 50px 15%;
	background-color: #fff;
	color: #00003D;
}


.first::first-letter {
	font-weight: bold;
	font-size: 80px;
}
.room {
	width: 60%;
	padding-top: 30px; 
}

.woman{
	width: 80%;
	padding-bottom: 30px;
}

.blog p {
	font-size: 14px;
}
.but1 {
	background: #FFF;
	color: #00003D;
	padding: 10px 20px;
	border: 2px solid #AAA;
	font-size: 13px;
	margin: 5px;
}


.section3 {
	min-height: 60vh;
	padding: 80px 8%;
	background-color: #fff;
	color: #00003D;
}


.socials {
	margin-top: 30px;
}

.socials img {
	padding-right: 25px;
}

.but2 {
	background: #00003D;
	color: #FFF;
	padding: 10px 20px;
	border: 2px solid #00003D;
	font-size: 13px;
	margin: 5px;
}

.section4 {
	min-height: 60vh;
	padding: 80px 8%;
	background-color: #fff;
	color: #00003D;
}

.section5 {
	min-height: 40vh;
	padding: 80px 15%;
	background-color: #00003D;
	color: white;
}

.section5 p {
	font-size: 13px;
}

input[type=text] , textarea {
	margin:  15px auto;
	padding: 10px;
	border: 1px solid #00003D;
	color: #00003D; 
	font-size: 13px;

}

.section3 button {
	margin-left: 50px;
}